/* ============================================== 
============== ADD EXPENSE PAGE =================
============================================== */
.expense__form-wrapper {
  @include verticalFlex(center, center);
}
.expense__form-wrapper--warning {
  color: $crimson;
}
.expense__form {
  width: 50%;
  @include verticalFlex(center, center);
}
.expense__form input,
.expense__form textarea {
  width: 100%;
  margin: $l-box-size 0;
}
