/* ============================================== 
============== ADD EXPENSE PAGE =================
============================================== */
.add-expense-page {
	@include containerWidth_sm;
	flex-grow: 2;
}

.add-expense__title {
	font-size: pxToRem(28);
	text-align: center;
	margin: $l-box-size 0;
	color: $heading-txt-color;
}

.form-wrapper {
	width: 100%;
	@include v-flex(center, center);
}

.expense__form-wrapper--warning {
	color: $crimson;
}

.expense__form {
	width: 100%;
	@include v-flex(center, center);
}

.expense-form__input-wrapper {
	width: 100%;
	@include v-flex(center, flex-start);
	flex-wrap: nowrap;
}

.expense-form__input,
.expense-form__textarea {
	width: 100%;
	margin: $m-box-size 0;
	font-size: pxToRem(14);

	&:focus {
		outline: 2px solid $secondary-fg-color;
		outline-offset: -1px;
	}
}

.add-expense-btn,
.remove-expense-btn {
	width: pxToRem(150);
	height: pxToRem(36);
	line-height: pxToRem(36);
	background-color: $third-fg-color;
	font-size: pxToRem(14);
	color: $btn-txt-color;
	border: none;
	display: block;
	text-align: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	transition: background-color, .5s ease-in;
}

.add-expense-btn {
	background-color: $secondary-fg-color;
	align-self: flex-start;
	margin-top: $m-box-size 0;

	&:hover {
		background-color: lighten($secondary-fg-color, 3%);
	}

	&:focus {
		outline: 2px solid $third-fg-color;
		;
	}
}

.remove-expense-btn {
	background-color: $third-fg-color;
	margin: $m-box-size 0;

	&:hover {
		background-color: lighten($third-fg-color, 3%);
	}

	&:focus {
		outline: 2px solid $secondary-fg-color;
		;
	}
}

/* ==============================================
================ Media Queries ===================
================================================ */
@media (min-width: pxToRem(480)) {
	.expense-form__input {
		margin: $l-box-size 0;
	}

	.expense-form__textarea {
		margin: $l-box-size 0;
	}

	.add-expense-btn {
		margin-top: $l-box-size 0;
	}

	.remove-expense-btn {
		margin: $l-box-size 0;
	}
}

@media (min-width: pxToRem(768)) {
	.add-expense__title {
		font-size: pxToRem(30);
		margin: pxToRem(28) 0;
	}

	.add-expense-page {
		@include containerWidth_md;
	}

	.expense-form__input-wrapper {
		@include h-flex(space-between, center);
		flex-wrap: nowrap;
	}

	.expense-form__input {
		width: 45%;
		font-size: pxToRem(16);
		margin: $xl-box-size 0;
	}

	.expense-form__textarea {
		font-size: pxToRem(16);
		margin: $xl-box-size 0;
	}

	.add-expense-btn {
		font-size: pxToRem(16);
		width: pxToRem(180);
	}

	.remove-expense-btn {
		font-size: pxToRem(16);
		width: pxToRem(180);
	}
}

@media (min-width: pxToRem(1024)) {
	.add-expense__title {
		font-size: pxToRem(32);
		margin: pxToRem(30) 0;
	}

	.add-expense-page {
		@include containerWidth_lg;
	}

	.expense-form__input {
		font-size: pxToRem(18);
		margin: $xxl-box-size 0;
	}

	.expense-form__textarea {
		font-size: pxToRem(18);
		margin: $xxl-box-size 0;
	}

	.add-expense-btn {
		font-size: pxToRem(18);
		width: pxToRem(200);
	}

	.remove-expense-btn {
		font-size: pxToRem(18);
		width: pxToRem(200);
	}
}

@media (min-width: pxToRem(1400)) {
	.add-expense__title {
		font-size: pxToRem(34);
		margin: pxToRem(32) 0;
	}

	.add-expense-page {
		@include containerWidth_xl_fixed;
	}

	.expense-form__input {
		font-size: pxToRem(20);
	}

	.expense-form__textarea {
		font-size: pxToRem(20);
	}

	.add-expense-btn {
		font-size: pxToRem(20);
	}

	.remove-expense-btn {
		font-size: pxToRem(20);
	}
}