/* ====================================
======= Expense Dashboard Page ========
======================================= */
.expense-dashboard {
	width: 100%;
	height: 100%;
	margin: $m-box-size 0;
	flex-grow: 2;
}

.expense-dashboard__content {
	width: 100%;
	height: auto;
	@include v-flex(center, space-between);
	@include containerWidth_sm;
}

/* ==============================================
================ Media Queries ===================
================================================ */
@media (min-width: pxToRem(768)) {
	.expense-dashboard__content {
		@include containerWidth_md;
	}
}

@media (min-width: pxToRem(1024)) {
	.expense-dashboard__content {
		@include containerWidth_lg;
	}
}

@media (min-width: pxToRem(1400)) {
	.expense-dashboard__content {
		@include containerWidth_xl_fixed;
	}
}