/* ===============================================
============= Expense List ======================
================================================= */
.expense-list {
	width: 100%;
	height: auto;
	flex-grow: 4;
	@include v-flex(space-between, flex-start);
}

.expense-list__topbar {
	width: 100%;
	height: pxToRem(40);
	margin: $m-box-size 0 0 0;
	background-color: $lightPurple;
	border: 1px solid $white;
	@include h-flex(space-between, center);
	align-content: center;
}

.topbar__item-name {
	font-size: pxToRem(14);
	color: $white;
	padding: 0 $s-box-size;
}

.expense-list__no-expenses {
	color: $lightBlue;
	margin: $l-box-size 0;
	font-size: pxToRem(20);
	text-align: center;
	align-self: center;
}

/* ===============================================
============= MEDIA QUERIES ======================
================================================= */
@media (min-width: pxToRem(768)) {
	.expense-list__no-expenses {
		font-size: pxToRem(22);
		margin: pxToRem(28) 0;
	}

	.topbar__item-name {
		font-size: pxToRem(16);
	}
}

@media (min-width: pxToRem(1024)) {
	.expense-list__no-expenses {
		font-size: pxToRem(24);
		margin: pxToRem(30) 0;
	}

	.topbar__item-name {
		font-size: pxToRem(18);
	}
}

@media (min-width: pxToRem(1400)) {
	.expense-list__no-expenses {
		font-size: pxToRem(26);
		margin: pxToRem(32) 0;
	}

	.topbar__item-name {
		font-size: pxToRem(20);
	}
}