/* ====================================
================= Header ==============
======================================= */
html {
	font-family: 'Roboto Mono',
		monospace;
	font-family: 'Lobster', cursive;
}

.header {
	width: 100%;
	height: 100%;
	background: linear-gradient(0.25turn, $third-fg-color, 15%, $primary-fg-color, 85%, $third-fg-color);
}

.header__content {
	@include v-flex(center, center);
	@include containerWidth_sm;
}

.header__title {
	letter-spacing: 4px;
	font-weight: 300;
	font-size: pxToRem(60);
	color: $title-color;
	text-decoration: none;
	font-family: $title-font;

	a:-webkit-any-link {
		color: $title-color;
		text-decoration: none;
	}

	.active {
		color: $title-color;
		text-decoration: none;
	}
}

/* ===============================================
============= MEDIA QUERIES ======================
================================================= */
@media (min-width: pxToRem(768)) {
	.header__title {
		font-size: pxToRem(75);
	}

	.header__content {
		@include containerWidth_md;
	}
}

@media (min-width: pxToRem(1024)) {
	.header__title {
		font-size: pxToRem(85);
	}

	.header__content {
		@include containerWidth_lg;
	}
}

@media (min-width: pxToRem(1400)) {
	.header__title {
		font-size: pxToRem(90);
	}

	.header__content {
		@include containerWidth_xl_fixed;
	}
}