/* ==============================================
======== React Dates Overrides ===========
================================================ */
/* ====== Date Range Picker: Input ===== */
.DateRangePicker {
	width: 100%;
	display: block;
	margin: $m-box-size 0;
}

.DateRangePickerInput__withBorder {
	border-radius: pxToRem($b-radius);
	border: none;
}

.DateRangePickerInput {
	@include h-flex(space-between, center);
}

.DateInput {
	width: 32%;
}

.DateRangePickerInput_arrow {
	width: 20%;
	text-align: center;
}

.DateInput_input {
	font-size: pxToRem(14);
	line-height: pxToRem(16);
	padding: pxToRem(5) pxToRem(2);
}

.DateInput_input__focused {
	border-bottom: 2px solid $lightGreen;
}

.DateRangePickerInput_clearDates {
	position: static;
	width: pxToRem(35);
	height: 100%;
	background: transparent;
	margin: 0;
	padding: pxToRem(10);
	line-height: pxToRem(16);
	transform: none;
}

.DateRangePickerInput__showClearDates {
	padding: pxToRem(0) pxToRem(8);
}

/* ====== Single Date Picker: Input ===== */
.SingleDatePicker {
	width: 100%;
	margin: $m-box-size 0;
}

.SingleDatePickerInput__withBorder {
	padding: pxToRem(8) pxToRem(15);
	width: 100%;
	line-height: 0;
}

.SingleDatePickerInput__withBorder .DateInput {
	width: 100%;
	line-height: pxToRem(18.4);
}

.SingleDatePickerInput__withBorder .DateInput_input {
	padding: 0;
	font-size: pxToRem(16);
	font-family: "Times New Roman";
}

/* ============ Calendar Days ============ */
.CalendarDay__default {
	&:hover {
		background: lighten($lightPurple, 15%);
	}

	&:focus {
		outline: 1px solid $lightBlue;
		background: $lightBlue;
	}
}

.CalendarDay__selected {
	background: $lightGreen;
	border: 1px solid $lightGreen;

	&:hover,
	&:active {
		background: lighten($lightGreen, 10%);
		border: 1px solid $lightGreen;
	}
}

.CalendarDay__selected_span {
	background: lighten($lightGreen, 10%);
	border: 1px solid $lightGreen;
	color: $black;

	&:hover,
	&:active {
		background: lighten($lightGreen, 15%);
		border: 1px solid $lightGreen;
		color: $black;
	}
}

.CalendarDay__hovered_span {
	background: lighten($lightGreen, 30%);
	border: 1px solid $lightGreen;

	&:hover {
		background: $lightGreen;
		border: 1px solid $lightGreen;
	}
}

/* ====== Date Range Picker: Other rules ===== */
.DayPickerKeyboardShortcuts_show {
	&:focus {
		outline: none;
	}
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
	border-right: 33px solid $lightPurple;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
	border-right: 33px solid $lightGreen;
}

/* ====== Single Date Picker: Input in AppointmentsItem ===== */
.appointment-item__date .SingleDatePicker {
	width: pxToRem(200);
	border: 1px solid $lightBlue;
	margin: pxToRem(12) 0;
	transition: all .3s ease-in;

	&:focus-within {
		background-color: transparent;
		border: 1px solid $lightGreen;
		outline: none;
	}
}

.appointment-item__date .SingleDatePickerInput {
	background-color: transparent;
}

.appointment-item__date .DateInput_input {
	color: $lightBlue;
	padding: 0;
	border: none;
	background-color: lighten($lightBlue, 5%);
	transition: all .3s ease-in;

	&:focus-within {
		background-color: transparent;
	}
}

.appointment-item__date .DateInput {
	width: 100%;
	padding: 0;
	background-color: transparent;
}

/* ==============================================
================ Media Queries ===================
================================================ */
@media (min-width: pxToRem(400)) {
	.DateInput_input {
		padding: pxToRem(5) pxToRem(5);
	}

	.DateRangePickerInput__showClearDates {
		padding: pxToRem(0) pxToRem(10);
	}
}

@media (min-width: pxToRem(768)) {
	.DateInput_input {
		font-size: pxToRem(16);
	}
}

@media (min-width: pxToRem(1024)) {
	.DateInput_input {
		font-size: pxToRem(18);
	}
}

@media (min-width: pxToRem(1400)) {
	.DateInput_input {
		font-size: pxToRem(20);
	}
}