@import "./functions";
/* ============= Settings ============== */
/* Colors */
$white: #ffffff;
$lightestSky: rgba(215, 219, 226, .91);
$black: #000;
$lightPurple: #D7A9E3FF;
$lightBlue: #8BBEE8FF;
$lightGreen: #A8D5BAFF;
$crimson: #dc143c;
$darkBlue: rgb(37, 37, 67);
$weirdGray: #6f92af;
$magento: #946993;
/* ===== Background and Foreground Colors =====   */
$primary-bg-color: $lightestSky;
$primary-fg-color: $darkBlue;
$secondary-fg-color: $weirdGray;
$third-fg-color: $magento;
$btn-bg-color: $lightGreen;
/* ===== Text Colors ===== */
$heading-txt-color: $magento;
$p-txt-color: $black;
$title-color: $white;
$input-txt-color: $black;
$summary-txt-color: $weirdGray;
$btn-txt-color: $white;
/* ===== Fonts ===== */
$acme: 'Acme',
sans-serif;
$curier-prime: 'Courier Prime',
monospace;
$poppins: 'Poppins',
sans-serif;
$title-font: $acme;
$headings-font: $poppins;
$form-font: $curier-prime;
$regular-font: $curier-prime;
/* Box Sizes */
$xs-box-size: pxToRem(5);
$s-box-size: pxToRem(10);
$m-box-size: pxToRem(15);
$l-box-size: pxToRem(25);
$xl-box-size: pxToRem(40);
$xxl-box-size: pxToRem(50);
/* Text Sizes */
$xs-text-size: pxToRem(14);
$s-text-size: pxToRem(16);
$m-text-size: pxToRem(20);
$l-text-size: pxToRem(28);
$xl-text-size: pxToRem(35);
$xxl-text-size: pxToRem(45);
/* Miscellaneous */
$b-radius: pxToRem(25);